<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
    	<%= form_for @fixture, html: { multipart: true }  do |f| %>
        <fieldset>
        <!-- Form Name -->
        <legend>Create New Fixture</legend>
             <div class="form-group">
               <%= f.label :tournament_id  %>
               <%= f.collection_select :tournament_id, Tournament.all, :id, :name, { :prompt => "Please Select a Tournament" }, { class: 'form-control' } %>
             </div>

			<!-- Text input-->
			<div class="form-group">
			  <%= f.label :home_team %>
			  <%= f.text_field :home_team, class: 'form-control', placeholder: 'Home Team' %>
			</div>

           
			<div class="form-group">
              <%= f.label :away_team %>
			  <%= f.text_field :away_team, class: 'form-control', placeholder: 'Away Team' %>
			</div>

      <div class="form-group">
        <%= f.label :fixture_date %>
        <%= f.date_select :fixture_date, :order => [:day, :month, :year],  :include_blank => true %> 
      </div>


			<div class="form-group">
              <%= f.label :kickoff_time %>
			  <%= f.time_select :kickoff_time, class: 'form-control' %>
			</div>
            
            <div class="form-group">
			  <%= f.submit 'Submit', :class => 'btn btn-success' %>
			</div>

          </fieldset>
        <% end %>
      </div>
     </div>
    </div>
