<div class="container">
  <div class="row">
    <div class="col-md-8 well">
      <h3>Fixtures & Results</h3>
      <% @tournament_fixture.sort.each do |tournament, fixture| %>
        <table class="table section-body">
            <thead>
              <% if tournament %>
              <h3 class="tournament-header"><%= tournament.name %> <%= date_output(tournament.tourn_date) %>
              <% end %>
              <span class="toggle"></span>
            </h3>
                <tr>
                  <th>Home Team</th>
                  <th>Away Team</th>
                  <th>Fixture Date</th>
                  <th>Kick Off</th>
                  <th>Result</th>
                  <th>Options</th>
                </tr>
            </thead>
            <tbody>
              <% fixture.each do |f| %>
                <tr>
                  <td><%= f.home_team %></td>
                  <td><%= f.away_team %></td>
                  <td><%= date_output(f.fixture_date) %></td>
                  <td><%= time_output(f.kickoff_time) %></td>
                    <% if f.home_score_result && f.away_score_result %>
                      <td><%= f.home_score_result %> - <%= f.away_score_result  %></td>
                    <% else %>
                  <td> Pending</td>
                    <% end %>
                  <td><%= link_to 'View', fixture_path(f), class: 'btn btn-success' %> <%= link_to 'Edit', edit_fixture_path(f), class: 'btn btn-warning' %> <%= link_to 'Delete', fixture_path(f.id), method: :delete,  :confirm => "Are you sure you want to delete this Fixture?", class: 'btn btn-danger' %></td>
                </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      
    </div><!--/well-->
  </div>
</div>